@{
}
@model Book


<div class="container-sm p-3 m-lg-4 border border-info rounded-lg" style="background-color: aliceblue;">
    <h3>@Model.Title</h3>
    <div>
        <p class="font-weight-bold">Written by: @Model.AuthorLast, @Model.AuthorFirst</p>
        <p>Published by: @Model.Publisher</p>
        <p>IBSN: @Model.ISBN</p>
        <p>Categories: @Model.Category</p>
        <p>Number of pages: @Model.NumPages</p>
        <p>Can be purchased for $@Model.Price</p>
    </div>

    <!--where to ad to cart-->
    <form id="@Model.BookID" asp-page="/Shop" method="post">
        <input type="hidden" asp-for="BookID"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Title
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                Add To Cart
            </button>
        </span>
    </form>
</div>
